<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="AppVersion" value="a0.6.4"/>
    <add key="AppName" value="PDF Toolbox"/>
    <add key="DefaultSaveLocation" value=".\\PDFToolbox\\"/>
    <add key="DefaultTempSaveDirectory" value=".\\temp\\"/>
    <add key="TempSavePrefix" value="_tmp_"/>
    <add key="SilenceMessagebox" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
